// Custom.scss
// Option A: Include all of Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}
// Include any default variable overrides here (though functions won't be available)
$primary: #B0DAE7;
$secondary: #006F92;
$warning: #E4C345;
$danger: #93C8D9;
$body-bg: #fff;
$header-bg: #006F92;


$font-family-base: 'Montserrat';

$h1-font-size: var(--font-size-xl);
$h2-font-size: var(--font-size-lg);
$h3-font-size:1.953rem;
$h4-font-size:1.563rem;
$h5-font-size:1.25rem;
$h6-font-size:1rem;




@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.nav-container{
    position: absolute;
    top: 55px;
    z-index: 10;
    width: 100%;
    right: 0;
    background-color: white;
}

.content-nav{
    display: flex;
    overflow: hidden;
}

.content-nav img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.social{
    display: flex;
    overflow: hidden;
}

.social img{
    display: block;
    width: 50px;
    height: 50px;
}

.titre{
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: $primary;
}

.member{
    width: 3em;
    height: 3em;
}


@media(min-width: 60em) {
    .titre{
        align-content: center;
    }
}